
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="hello.css">
  <title>SignUp PAGE</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>SignUp</h2>
                    <div class="inputbox">
                        <input type="Firstname" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
    
                        <input type="Lastname" required>
                        <label for="">Pin</label>
                    </div>
                    <div class="inputbox">
                        
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        
                        <input type="" required>
                        <label for="">Year</label>
                    </div>
                 
                    <div class="role-selection">
                        <input type="button" id="submit" name="role" value="submit">
                <input type="button" id="login" name="role" value="Login">
        </div>
        </form>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
